body {

    margin-top: 20px;
}

.container {
    margin-top: 60px;
}
.title {

    background-color: aquamarine;
    color: white;
    margin: 20px auto;
    width: 60%;
    font-size: 50px;
    text-align: center;


}

.rows {
    display: flex;
    flex-direction: row;
}
.info {

    width: 50%;
    height: 10%;
    overflow: auto;
    margin: auto;
    font-size: 21px;
    font-family: "Apple Color Emoji";

}

.img {


    width: 9%;
    margin-left: 50px;
    max-height: 400px;
}